@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
    /*color scheme*/
    /* --color:#F2F4F9;
    --color:#3A2B38;
    --color:#959CAC;
    --color:#A62F35;
    --color:#D79798;
    --color:#D0856E; */

    --blue:#0b8df0;
    --gray:rgb(190, 190, 190);
}


/*default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color:#eee;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style:none;
}

img {
    max-width:100%;
}


.movie-card {
    background-color:#fff;
    box-shadow: 0 10px 30px #959bd359;
    padding: 3rem;

    position: absolute;
    min-width:70vw;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.movie-card__header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:1rem;
}

/* .movie-title {

} */

.movie-genre {
    color:blue;
    color:var(--blue);
    font-weight: 400;
    font-size:0.85rem;
}

.movie-score {
    color:var(--gray);
}

.movie-score__score {
    color:blue;
    color:var(--blue);
    font-weight: 700;
}

.movie-card__info {
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.info__img-container {
    position: relative;
    width:500px;
}

.info__img {
    object-fit: contain;
    object-position: center;
    width:100%;
    height:100%;
}

.info__details {
    margin-left:1.75rem;
}

.about-movie {
    margin-bottom:2rem;
}

.about-movie__heading {
    font-size:1rem;
    margin-bottom:0.5rem;
}

.info__people {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    color:blue;
    color:var(--blue);
    font-size:0.8rem;
}

.person:last-of-type {
    margin-bottom:1rem;
}

.person__heading {
    margin-bottom:0.25rem;
}

.more-people-link {
    color:blue;
    color:var(--blue);
    text-decoration: underline;
    font-size:0.8rem;
    font-weight:600;
}


.movie-card__footer {
    position: relative;
    /* background:rgba(255, 0, 0, 0.479); */
    margin-top:1rem;

    display:flex;
    justify-content: space-between;
    align-items:center;
}


.footer__buy-section {
    position: relative;
    /*same width as img*/
    width:190px;

    /* background: gray; */

    display:flex;
    justify-content: space-between;
    align-items:center;
}

.footer__price {
    font-weight:700;
    font-size:1rem;
}

.buy-btn {
    border:2px solid #000;
    background:#fff;
    border-radius: 25px;
    font-weight:700;
    width:4.75rem;
    height:1.75rem;
}

.watch-trailer-btn {
    position: relative;
    border:none;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    background-color:#000;
    height:2rem;
    border-radius:20px;
    padding:0.15rem;
}

.watch-trailer-btn__text {
    margin-left:0.5rem;
    margin-right:0.5rem;
}

.watch-trailer-icon {
    color:#fff;
    font-size:2rem;
}





/*.btn styles*/
.btn {
    transition: opacity 0.15s ease;
}

.btn:hover {
    cursor: pointer;
    opacity:0.7;
}